# General Ignores + IDE
.DS_Store
settings.xml
package-lock.json
WEB-INF
.vscode

# logs
logs/*.*

# NPM, Bower, ETC
**/node_modules/*
**/bower_components/*

## Ignored Dependencies
coldbox/*
testbox/*
modules/*
**/apidocs/**
includes/css
includes/js
includes/*.json